*{
    margin: 0;
    padding: 0;
   } 
   .top-header{
  background:#2E7D32;
  color:white;
  display:flex;
  padding:15px 30px;
  display: flex;
  justify-content: space-between;

}
.form {
    position: relative;
    width: 200px;
}
.form input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.form i {
    position: absolute;
    right: 10px;
    bottom: 30%;
    color: #2E7D32;
}
.logo1{
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}
.logo{
    font-size:30px ;
    cursor: pointer;
}
.menu a{
    color: white;
    text-decoration: none;  
    font-size: 30px; 
}
.menu{
    display: flex;
    gap: 15px;
}
.bottom-header{
    background: white;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) ;
    width: 100%;
  height: 70px;
}
header{
    display: flex;
    flex-direction: column;
    z-index: 1000;
  position: sticky;
  top: 0;
}
.menu1{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    a{
        cursor: pointer;
        text-decoration: none;
        color: #2E7D32;
        
    }
}
.menu2{
    color: #1B5E20;
    font-size: 20px;
}
.conseil h1{
    text-align: center;
    font-size: 3rem;
    color: #1B5E20;
}
.conseil p{
    text-align: center;
    color: #2E7D32;
    font-size: 2rem;
}
.sect{
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 2%;
}
img{
    width: 100%;
  box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0 0;
}
.sect h1{
    text-align: center;
}
.sect a button{
    background-color: #F2F2F2;
  color: #2E7D32;
  border: none;
  padding: 10px 40px;
  margin-left: 25%;
  margin-bottom: 5%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  transition: background 0.3s;
}
.promotion{
    display: flex;
    justify-content: space-around;
}
.promotin1{
    display: flex;
    justify-content: center;
}
.article a button{
     background-color: #2E7D32;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
  width: 15%;
  font-size: 1rem;
}
.article a{
   display: flex;
  justify-content: center;
  margin-top: 5%;
  text-decoration: none;
}
footer{
  background-color: #2E7D32;
}
.logo{
  color: white;
}
.instagram-icon {
color: white;
  transition: all 0.3s ease;
}

.instagram-icon:hover {
  color: #C13584; 
  transform: scale(1.1);
}
.tiktok-icon {
  color: white; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.tiktok-icon:hover {
  color: #ff0050; 
  transform: scale(1.1);
}
.whatsapp-icon {
  color: #25D366; 
  transition: all 0.3s ease;
}

.whatsapp-icon:hover {
  color: #128C7E; 
  transform: scale(1.1); 
}
.footer1{
  p{
    font-size: 20px;
  }
 padding: 40px;
}
.fots{
  display: flex;
  justify-content: space-around;
}
.footer2 h1{
font-size: 16px;
color: white;
margin-top: 20%;
}
.foot2{
  font-size: 2rem;
  color: white;
}
.phone { 
  gap: 10px; 
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  padding-top: 10px;  
 
}

.phone-number {
  font-size: 1.1rem;
}

.phone:hover {
  color: #007aff;
}

.phone:hover .phone-icon {
  transform: rotate(-15deg);
}
.email {  
  gap: 12px;            
  text-decoration: none;
  color: white;       
  font-weight: bold;
  transition: all 0.3s ease;
  padding-top: 10px;  
}

.email:hover {
  color: #2563eb;      
}

.email-icon {
  transition: transform 0.3s ease;
}

.email:hover .email-icon {
  transform: translateY(-2px); 
}
.location-container {
  align-items: center;  
  gap: 10px;            
  color: white; 
 padding-top: 10px;        
}

.location-icon {
  color: white;       
  transition: transform 0.3s ease;
}

.location-container:hover .location-icon {
  transform: translateY(-3px); 
}
.agenda-container {
  align-items: center;  
  color: white;          
  font-weight: bold;
  padding-top: 10px;  
}

.agenda-icon {
  color: white;         
  transition: transform 0.3s ease;
}

.agenda-container:hover .agenda-icon {
  transform: rotate(5deg); 
  color: #2563eb;             
}
.footer4 h1{
  text-align: center;
  color: white;
}
footer{
    margin-top: 10%;
}


