.top-header{
  background:#2E7D32;
  color:white;
  display:flex;
  padding:15px 30px;
  display: flex;
  justify-content: space-between;

}
.form {
    position: relative;
    width: 200px;
}
.form input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.form i {
    position: absolute;
    right: 10px;
    bottom: 30%;
    color: #2E7D32;
}
.logo1{
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}
.logo{
    font-size:30px ;
    cursor: pointer;
}
.menu a{
    color: white;
    text-decoration: none;  
    font-size: 30px; 
}
.menu{
    display: flex;
    gap: 15px;
}
.bottom-header{
    background: white;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) ;
    width: 100%;
  height: 70px;
}
header{
    display: flex;
    flex-direction: column;
  z-index: 1000;
  position: sticky;
  top: 0;
}
.menu1{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    a{
        cursor: pointer;
        text-decoration: none;
        color: #2E7D32;
        
    }
}
.menu2{
    color: #1B5E20;
    font-size: 20px;
}
/* debut du main la section de texte de produit */

.produit {
    h1{
        color: #2E7D32;
       padding-left: 5%;
       text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
       font-weight: bold;
       font-size: 5rem;
       cursor: pointer;
    }
    p{
      padding-left: 5%;  
      font-size: 2rem;
      color: #2E7D32;
    }
     
}


.sect2 {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img {
     width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-basis: auto;
}
.img1{
    height: 20rem;
    width: 10%;
    padding: 10px;
     background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
}

.cat1 input{
    accent-color: green;
    border: 2px solid green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.cat2 input{
    accent-color: grey;
    border: 2px solid grey;
    width: 20px;
    height: 20px;
}
.cat1 label{
    color: #2E7D32 ;
}
.img1 h1{
    color: #2E7D32;
    text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
    font-weight: bold;
}
img{
    width: 100%;
  box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
  border-radius: 15px 15px 0 0;
}
.img h1{
   text-align: center;
}
.img p{
    text-align: center;
    font-size: 20px;
}
.img h2{
    text-align: center;
    color: orange;
}
.img a button{
    background-color: #2E7D32;
  color: white;
  border: none;
  padding: 10px 40px;
  margin-left: 25%;
  margin-bottom: 5%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  transition: background 0.3s;
}
input[type="range"] {
  width: 100%;
  background: transparent; 
}
input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #2E7D32;
  cursor: pointer;
  border: 2px solid #2E7D32;
  box-shadow: 0 0 5px #2E7D32;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  background: #2E7D32;
  border-radius: 3px;
}
.img2{
    width: 20%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
    flex: 0 0 auto;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: 2%;
}
.img2 p{
    text-align: center;
    font-size: 20px;
}
.img2 h1{
    text-align: center;
}
.img2 h2{
    text-align: center;
    color: orange;
}
.img2 a button{
    background-color: #2E7D32;
  color: white;
  border: none;
  padding: 10px 40px;
  margin-left: 25%;
  margin-bottom: 5%;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  transition: background 0.3s;
}
.sect3{
    height: auto;
    width: 100%;
    display: flex;
    justify-content:center ;
    gap: 17%;
    margin-left: 14%;
    margin-top: 2%;
}
footer{
  background-color: #2E7D32;
}
.logo{
  color: white;
}
.instagram-icon {
color: white;
  transition: all 0.3s ease;
}

.instagram-icon:hover {
  color: #C13584; 
  transform: scale(1.1);
}
.tiktok-icon {
  color: white; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.tiktok-icon:hover {
  color: #ff0050; 
  transform: scale(1.1);
}
.whatsapp-icon {
  color: #25D366; 
  transition: all 0.3s ease;
}

.whatsapp-icon:hover {
  color: #128C7E; 
  transform: scale(1.1); 
}
.footer1{
  p{
    font-size: 20px;
  }
 padding: 40px;
}
.fots{
  display: flex;
  justify-content: space-around;
}
.footer2 h1{
font-size: 16px;
color: white;
margin-top: 20%;
}
.foot2{
  font-size: 2rem;
  color: white;
}
.phone { 
  gap: 10px; 
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  padding-top: 10px;  
 
}

.phone-number {
  font-size: 1.1rem;
}

.phone:hover {
  color: #007aff;
}

.phone:hover .phone-icon {
  transform: rotate(-15deg);
}
.email {  
  gap: 12px;            
  text-decoration: none;
  color: white;       
  font-weight: bold;
  transition: all 0.3s ease;
  padding-top: 10px;  
}

.email:hover {
  color: #2563eb;      
}

.email-icon {
  tspanransition: transform 0.3s ease;
}

.email:hover .email-icon {
  transform: translateY(-2px); 
}
.location-container {
  align-items: center;  
  gap: 10px;            
  color: white; 
 padding-top: 10px;        
}

.location-icon {
  color: white;       
  transition: transform 0.3s ease;
}

.location-container:hover .location-icon {
  transform: translateY(-3px); 
}
.agenda-container {
  align-items: center;  
  color: white;          
  font-weight: bold;
  padding-top: 10px;  
}

.agenda-icon {
  color: white;         
  transition: transform 0.3s ease;
}

.agenda-container:hover .agenda-icon {
  transform: rotate(5deg); 
  color: #2563eb;             
}
.footer4 h1{
  text-align: center;
  color: white;
}

