*{
    margin: 0;
    padding: 0;
   } 
   .top-header{
  background:#2E7D32;
  color:white;
  display:flex;
  padding:15px 30px;
  display: flex;
  justify-content: space-between;

}
.form {
    position: relative;
    width: 200px;
}
.form input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.form i {
    position: absolute;
    right: 10px;
    bottom: 30%;
    color: #2E7D32;
}
.logo1{
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}
.logo{
    font-size:30px ;
    cursor: pointer;
}
.menu a{
    color: white;
    text-decoration: none;  
    font-size: 30px; 
}
.menu{
    display: flex;
    gap: 15px;
}
.bottom-header{
    background: white;
    box-shadow:0 4px 4px rgba(0, 0, 0, 0.1) ;
    width: 100%;
  height: 70px;
}
header{
    display: flex;
    flex-direction: column;
    z-index: 1000;
  position: sticky;
  top: 0;
}
.menu1{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    a{
        cursor: pointer;
        text-decoration: none;
        color: #2E7D32;
        
    }
}
.menu2{
    color: #1B5E20;
    font-size: 20px;
}
.hero-img{
    width: 100%;
}
.hero{
    background-image: url(./IMAGES/accueil_principal.png);
    background-size: cover;
    background-repeat: no-repeat;
   height: 900px;
   margin-top: -45px;
}
.hero-text{
    h1{
        font-size: 64px;
        color: #2E7D32;
        margin-left: 40px;

    }
    h2{
       font-size: 80px; 
       margin-left: 40px;
       color: #2E7D32;
       font-family: 'Island Moments';
    }
    p{
        color: #2E7D32;
        font-size: 60px;
        margin-left: 40px;
    }
}

button{
    padding: 20px;
    background: #2E7D32;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    margin-left: 40px;
}
.hero-text1{
    background-color: #F1F8F4;
}
.features {
  display: flex;
  justify-content: space-between;
  background: #F1F8F4;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.feature {
  text-align: center;
  flex: 1;
}


.feature h3 {
  color: #2e7d32;
  font-size: 32px;
  margin: 5px 0;
}

.feature p {
  color: #2e7d32;
  font-size: 20px;
}
.produit{
  padding:40px;
  text-align:center;
  font-size: 70px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
color: #2E7D32;
}
.card {
  width: 15%;
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}


.card img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}


.card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: black;
  margin-left: 1%;
  
}

.prix {
  color: orange;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 5%;
}

.ajouter {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10%;
}

button:hover {
  background: #1b5e20;
}
.desc{
    font-size: 18px;
  margin: 10px 0 5px;
  color: black;
  margin-left: 1%;
}
.card1 {
  width: 15%;
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}


.card1 img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}


.card1 h3 {
  font-size: 18px;
  margin: 10px 0 5px;
  color: black;
  margin-left: 1%;
  
}



.prix {
  color: orange;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  align-items: center;
  margin-left: 5%;
}

.ajouter {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 10px;
  width: 40%;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10%;
}

button:hover {
  background: #1b5e20;
}
.desc{
    font-size: 18px;
  margin: 10px 0 5px;
  color: black;
  margin-left: 1%;
}
.produit-img{
    display: flex;
    justify-content: space-around;
}
.produit-img1{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}


.conseils{
  background-image: url(./IMAGES/ACCUEIL_FEMME.png);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 450px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  align-items: flex-start;
  padding: 40px;

}
.tite{
  color: #2E7D32;
  font-weight: bold;
  font-size: 2rem;
}
.conseils p{
  font-size: 32px;
  color: #2E7D32;
}
.lis{
  color: #2E7D32;
  font-size: 20px;
}
li {
  color: #2E7D32;
  font-size: 24px;
  font-weight: bold;
  list-style: none; 
  margin-bottom: 40px;
}
.article{
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 3%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.promo{
  background-image: url(./IMAGES/ACCUEILPROMO.png);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 450px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  align-items: flex-start;
  padding: 40px;
}
.promo-section{
  display: flex;
  justify-content: space-around;
  padding: 50px 30px;
}
.til-promo{
  color: #2E7D32;
  font-weight: bold;
  font-size: 2rem;
}
.promos{
  color: #FF8F00;
  font-size: 26px;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
}
.tile-promo{
  font-weight: bold;
  font-size: 50px;
  color: #2E7D32;
  text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);

}
.ofres{
  background-color: #FF8F00;
  margin-top: 5%;
  margin-left: 30%;
  border-radius: 3%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
footer{
  background-color: #2E7D32;
}
.logo{
  color: white;
}
.instagram-icon {
color: white;
  transition: all 0.3s ease;
}

.instagram-icon:hover {
  color: #C13584; 
  transform: scale(1.1);
}
.tiktok-icon {
  color: white; 
  transition: transform 0.3s ease, color 0.3s ease;
}

.tiktok-icon:hover {
  color: #ff0050; 
  transform: scale(1.1);
}
.whatsapp-icon {
  color: #25D366; 
  transition: all 0.3s ease;
}

.whatsapp-icon:hover {
  color: #128C7E; 
  transform: scale(1.1); 
}
.footer1{
  p{
    font-size: 20px;
  }
 padding: 40px;
}
.fots{
  display: flex;
  justify-content: space-around;
}
.footer2 h1{
font-size: 16px;
color: white;
margin-top: 20%;
}
.foot2{
  font-size: 2rem;
  color: white;
}
.phone { 
  gap: 10px; 
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: all 0.3s ease;
  padding-top: 10px;  
 
}

.phone-number {
  font-size: 1.1rem;
}

.phone:hover {
  color: #007aff;
}

.phone:hover .phone-icon {
  transform: rotate(-15deg);
}
.email {  
  gap: 12px;            
  text-decoration: none;
  color: white;       
  font-weight: bold;
  transition: all 0.3s ease;
  padding-top: 10px;  
}

.email:hover {
  color: #2563eb;      
}

.email-icon {
  transition: transform 0.3s ease;
}

.email:hover .email-icon {
  transform: translateY(-2px); 
}
.location-container {
  align-items: center;  
  gap: 10px;            
  color: white; 
 padding-top: 10px;        
}

.location-icon {
  color: white;       
  transition: transform 0.3s ease;
}

.location-container:hover .location-icon {
  transform: translateY(-3px); 
}
.agenda-container {
  align-items: center;  
  color: white;          
  font-weight: bold;
  padding-top: 10px;  
}

.agenda-icon {
  color: white;         
  transition: transform 0.3s ease;
}

.agenda-container:hover .agenda-icon {
  transform: rotate(5deg); 
  color: #2563eb;             
}
.footer4 h1{
  text-align: center;
  color: white;
}
footer{
    margin-top: 10%;
}

